* {
  margin: 0;
}

.App{
  background-color:  #f2f8f4;
  height: 100vh;
}

.appHeader{
  background-color:  rgb(251, 255, 252); 
  padding: 20px;
  border-bottom: 3px solid #379683;
  object-fit: contain;
}

.appHeaderImage{
  width: 200px;
  
}