.imageUpload{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color:#7eca9c;
    border-top: 1px solid darkgrey;
    color: white;

}

.imageUploadProgress{
    width: 100%;
}