.post{
    max-width: 600px;
    background-color: rgb(249, 253, 250);
    border: 2px solid #379683;
    margin-bottom: 50px;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.postImage{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightslategray;
    border-bottom: 1px solid lightslategray;
}

.postText{
    font-weight: normal;
    padding: 15px;
}

.postHeader{
    display: flex;
    align-items: center;
    padding: 15px;
}

.postAvatar{
    margin-right: 10px;
    color: #379683;
}